.SuperTableHeader {
  padding: 20px 8px;

  @media (min-width: 992px) {
    padding: 20px 16px;
  }

  &-searchField {
    width: 200px;
    height: 32px;
    padding: 0 8px 0 16px;
    background: var(--bg-color1);
    border-radius: 14px;
    border-width: 0;
    color: inherit;
    font: inherit;

    &:focus {
      outline: var(--primary-color) solid 2px;
    }
  }
}
