.SuperTableContainer {
  position: relative;
  min-height: 100vh;
  background: var(--bg-color2);

  @media (min-width: 992px) {
    min-height: calc(100vh - 32px);
    max-width: 960px;
    border-radius: 20px;
    margin: 0 auto;
  }

  &-footer {
    padding: 20px 8px;

    @media (min-width: 992px) {
      padding: 20px 16px;
    }
  }

  &-status {
    $headerHeight: 72px;

    position: absolute;
    top: $headerHeight;
    display: grid;
    place-content: center;
    width: 100%;
    height: calc(100% - $headerHeight);
    padding-bottom: $headerHeight;

    &-inner {
      display: grid;
      grid-auto-rows: 1fr;
      place-items: center;
      width: 120px;
      height: 120px;
      padding: 0;
      border-width: 0;
      background: transparent;
    }

    &-alertIcon {
      width: 44px;
      height: 44px;
      stroke-width: 1.6px;
      stroke: #ef4444;
    }
  }

  &-tableWrapper {
    display: flex; // или grid, padding-x работает только так
    padding: 0 8px;
    overflow-x: scroll;

    @media (min-width: 992px) {
      padding: 0 16px;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
  }
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  @media (prefers-color-scheme: dark) {
    background: var(--bg-color1);
    border-radius: 14px 14px 0 0;
  }
}

th,
td {
  padding: 0; // default 1px

  .inner {
    display: inline-block;
    padding: 0 16px;
    margin: 8px 0;
    // why:
    // 1 dividers in thead
    // 2 td.description где line-clamp 3. если padding то не скрывает 4 строку
  }
}

th:not(:first-child) {
  text-align: left;
}

thead th {
  background: var(--bg-color3);

  &:first-child {
    border-radius: 14px 0 0 0;
  }

  &:last-child {
    border-radius: 0 14px 0 0;
  }

  button {
    width: 100%;
    height: 100%;
    text-align: inherit;
    padding: 0;
    border-width: 0;
    background: transparent;
  }

  &:not(:first-child) .inner {
    border-left: 1px solid #d1d5db;

    @media (prefers-color-scheme: dark) {
      border-width: 0;
    }
  }

  &.id {
    width: 60px;
  }

  &.firstName,
  &.lastName,
  &.phone,
  &.email {
    width: 200px;
  }

  &.street,
  &.city,
  &.state,
  &.zip {
    width: 120px;
  }

  &.description {
    width: 280px;
  }
}

tbody tr {
  // th td
  & > * {
    &:first-child {
      border-radius: 14px 0 0 14px;
    }

    &:last-child {
      border-radius: 0 14px 14px 0;
    }
  }

  &:first-child > * {
    &:first-child {
      border-radius: 0 0 0 14px;
    }

    &:last-child {
      border-radius: 0 0 14px 0;
    }
  }

  &:last-child > * {
    &:first-child {
      border-radius: 14px 0 0 0;
    }

    &:last-child {
      border-radius: 0 14px 0 0;
    }
  }

  &:only-child > * {
    border-radius: 0;
  }

  &:hover > * {
    background: var(--bg-color3);
    transition: background-color 0.25s ease;
  }
}

tbody td {
  &.description .inner {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
