.SuperTableContainer {
  position: relative;
  min-height: 100vh;
  background: var(--bg-color2);

  @media (min-width: 992px) {
    min-height: calc(100vh - 32px);
    max-width: 960px;
    border-radius: 20px;
    margin: 0 auto;
  }
}
