*,
::before,
::after {
  box-sizing: border-box;
}

button {
  color: inherit;
  font: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

body {
  margin: 0;
  color: var(--text-color);
  font-family: Poppins, sans-serif;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll; // ненавижу когда дергается страница при появлении скролла
}
