:root {
  --primary-color: #1a5cff;
  --text-color: #2c3e50;
  --bg-color1: #f8fafc;
  --bg-color2: #fff;
  --bg-color3: #f8fafc;

  @media (prefers-color-scheme: dark) {
    --text-color: #fff;
    --bg-color1: #18191c;
    --bg-color2: #1e2023;
    --bg-color3: #141417;
  }
}
